@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");

:root {
  --dark: #222222;
  --mid: #616161;
  --text: #222222;
  --bg1: #fbfbfb;
  --bg2: #f1f1f1;
  --bg3: #ededed;
  --accent1: #e55039;
  --accent2: #079d67;
  --main: #b65142;
}

img {
  display: block;
  width: 100%;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

.container {
  margin-bottom: 40px;
  /* width: 1440px; */
}

/* header */
header {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}

header .container {
  width: 1440px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
}

header .container .logo {
  width: 220px;
}

header .container ul {
  display: flex;
}

header .container .nav li {
  margin-right: 55px;
}

header .container .nav li:last-child {
  margin-right: initial;
}

header .container .nav {
  font-size: 25px;
}

header .container .extra li {
  font-size: 16px;
  margin-right: 50px;
  color: var(--accent1);
}

header .container .extra li:last-child {
  margin-right: 0;
}

/* slider */
.main_slide {
  position: relative;
  margin-bottom: 70px;
}

.arrow {
  position: absolute;
  width: 96%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide_01 .item {
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide_01 .item.item_01 {
  background-image: url(../images/main_slide_01.jpg);
}

.slide_01 .item.item_02 {
  background-image: url(../images/main_slide_02.jpg);
}

.slide_01 .item.item_03 {
  background-image: url(../images/main_slide_03.jpg);
}

.slide_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark);
  max-width: 1440px;
  width: 90%;
  text-align: right;
}

.slide_text h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.slide_text p {
  font-size: 30px;
}

/* slick custom */
.main_slide .slick-dots li {
  width: 50px;
  height: 3px;
}

.main_slide .slick-dots li button {
  background: #ffffff;
  width: 100%;
  height: 100%;
  /* padding: 0; */
  opacity: 0.3;
}

.arrow span {
  width: 30px;
}

.arrow span {
  display: inline-block;
  width: 46px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s;
}

/* content_01 */
.content_01 {
  background: url(../images/main_slide.jpg) no-repeat;
  background-size: cover;
}
.content_01 .container {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.content_01 .container .bg {
  width: 100%;
  height: 735px;
  position: relative;
}

.bg .main_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
}

.bg .main_text h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--accent1);
  text-align: left;
  margin-bottom: 85px;
}

.bg .main_text p {
  line-height: 1.2;
  font-size: 35px;
  color: #666666;
  margin-bottom: 60px;
}

.bg .main_text p span {
  color: #f9af41;
}

.bg .main_text button {
  width: 220px;
  height: 70px;
  font-size: 25px;
  border: 1px solid var(--main);
  background: var(--main);
  color: #f1f1f1;
  cursor: pointer;
  border-radius: 6px;
}

/* banner */
.banner {
  width: 100%;
  height: 400px;
  background: url(../images/banner.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
}

.banner_container {
  width: 1440px;
  height: inherit;
  margin: 0 auto;
  position: relative;
}

.banner_container .banner_text {
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  text-align: left;
}

.banner_text h4 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner_text p {
  margin-bottom: 40px;
  font-size: 24px;
}

.banner_text button {
  width: 220px;
  height: 70px;
  font-size: 25px;
  border: 1px solid var(--accent2);
  background: var(--accent2);
  color: #f1f1f1;
  cursor: pointer;
  border-radius: 6px;
}

/* content_02 */
.content_02,
.content_03 {
  /* background: #fbfbfb; */
}

.content_02 .container,
.content_03 .container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.content_02 .title,
.content_03 .title {
  text-align: center;
}

.content_02 h3,
.content_03 h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--accent1);
  margin: 40px 0 20px;
}

.content_02 .title p,
.content_03 .title p {
  font-size: 20px;
  color: #616161;
  margin-bottom: 60px;
}

.content_02 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.content_02 .card_01,
.content_02 .card_02 {
  width: 576px;
  height: 327px;
  background: #ffffff;
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding: 36px;
  box-sizing: border-box;
  text-align: left;
  margin-right: 60px;
}

.content_02 .card_02 {
  margin-right: 0;
}

.content_02 .cards .photo {
  width: 205px;
  height: 255px;
  margin-right: 15px;
}

/* 카드내용 */

.content_02 .cards .card_text {
}

.content_02 .cards .card_text h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2d3436;
}

.content_02 .cards .card_text h5 {
  font-size: 16px;
  color: #838383;
}

.content_02 .cards .card_text p {
  font-size: 13px;
  margin-bottom: 14px;
}

.line {
  width: 284px;
  height: 1px;
  background: #838383;
  margin: 20px 0;
}

.content_02 .cards .card_text i {
  margin-right: 10px;
}

.content_02 span {
  text-align: right;
  font-size: 20px;
  color: var(--accent1);
  text-decoration: underline;
  cursor: pointer;
}

.content_02 button {
  display: inline-block;
  width: 126px;
  height: 34px;
  border: 1px solid var(-dark);
  border-radius: 50px;
  background: #ffffff;
  margin-left: 170px;
  cursor: pointer;
  color: var(--dark);
}

.pattern_line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.pattern_line img {
  width: 50px;
  margin: 0 20px;
}

/* content_03 */
.content_03 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.content_03 .cards li {
  width: 370px;
  height: 550px;
  margin-right: 80px;
}

.content_03 .cards li:last-child {
  margin-right: 0;
}

.content_03 .cards .img {
  height: 350px;
  border-radius: 200px;
  margin-bottom: 50px;
}

.content_03 .cards .card_01 .img {
  background: url(../images/shop_01.png);
  background-position: center;
  background-size: cover;
}

.content_03 .cards .card_02 .img {
  background: url(../images/shop_02.jpg);
  background-position: center;
  background-size: cover;
}

.content_03 .cards .card_03 .img {
  background: url(../images/shop_03.jpg);
  background-position: center;
  background-size: cover;
}

.content_03 .cards .text {
  text-align: center;
}

.content_03 .cards .text h4 {
  font-size: 25px;
  font-weight: bold;
  color: (var(--dark));
  margin-bottom: 13px;
}

.content_03 .cards .text p {
  font-size: 15px;
  margin-bottom: 28px;
}

.content_03 button {
  display: inline-block;
  width: 120px;
  height: 34px;
  border: 1px solid var(-dark);
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  background: var(--dark);
  border: var(--dark);
  font-size: 12px;
}

.content_03 span {
  text-align: right;
  font-size: 20px;
  color: var(--accent1);
  text-decoration: underline;
  cursor: pointer;
}

/* footer */
footer {
  background: #ededed;
  border-top: 1px solid #a5a5a5;
  width: 100%;
  height: 300px;
}

footer .container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6a6a6a;
  font-size: 15px;
}
footer .logo {
  width: 220px;
  margin-bottom: 85px;
}

.box_01 .policy a {
  display: inline-block;
  text-decoration: underline;
  margin: 0 40px 20px 0;
}

.box_01 .policy a:last-child {
  margin-right: 0;
}

.box_02 {
  display: flex;
  margin-bottom: 30px;
}

footer ul h3 {
  font-size: 20px;
  font-weight: bold;
  margin-right: 55px;
}

.box_02 ul li {
  margin-right: 55px;
  margin-bottom: 20px;
}

.box_03 h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: right;
}

.box_03 p {
  margin-bottom: 12px;
  text-align: right;
}

.box_03 label {
  position: relative;
  margin-top: 16px;
}

.box_03 input[type="text"] {
  width: 290px;
  height: 40px;
  border-radius: 0;
  font-size: 15px;
  padding: 12px 30px 12px 15px;
  box-sizing: border-box;
  border: 1px solid var(--accent2);
  outline: none;
}

.box_03 input[type="text"]::placeholder {
  font-size: 15px;
}

.box_03 input[type="text"]:focus::placeholder {
  color: transparent;
}

.box_03 label i {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background: var(--accent2);
  color: #ffffff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  right: 0;
  cursor: pointer;
}
